/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    background-color: #f6f9ff;
}

a {
    color: #0563bb;
    text-decoration: none;
}

a:hover {
    color: #067ded;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: rgb(5, 99, 187);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #0678e3;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0563bb;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 97;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: rgb(255, 255, 255, 0.8);
    height: 65px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    /* background-color: #fff; */
}

@media (max-width: 991px) {
    #header {
        width: 300px;
        background: #fff;
        border-right: 1px solid #e6e9ec;
        left: -300px;
    }
}

@media (min-width: 991px) {
    #main {
        margin-left: 100px;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.nav-menu {
    padding: 0;
    display: block;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
}

@media (min-width: 992px) {

    .nav-menu a,
    .nav-menu a:focus {
        width: 56px;
    }

    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: #fff;
    }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #fff;
    background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

.mobile-nav-toggle i {
    color: #45505b;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #0563bb;
}

.dropdown {
    padding: 5px 10px;
}

.dropdown:hover {
    /* background-color: rgb(5, 100, 189, .7); */
    color: rgb(5, 100, 189, .7);
    border-radius: 15px;
    padding: 5px 10px;
}

.dropdown:hover .link-body-emphasis i,
.dropdown:hover .link-body-emphasis span,
.dropdown-toggle:hover {
    color: rgb(5, 100, 189, .7);
}

.link-body-emphasis i {
    font-size: 1.5rem;
    color: #636363;
}

.link-body-emphasis span {
    color: #636363;
}

.dropdown-item:hover,
.dropdown-item:hover i {
    color: rgb(5, 100, 189, .7);
    background-color: #f3f8ff;
}

.dropdown-item {
    color: #636363;
}

#bell {
    cursor: pointer;
    margin-right: 20px;
}

.icon span {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px
}

.icon img {
    display: inline-block;
    width: 26px;
    margin-top: 4px
}

.icon:hover {
    opacity: .7
}

.logo {
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace
}

.notifications {
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifications h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer;
}

.notif {
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #ccc #f5f5f5;
    /* Thumb and track colors */

    /* For WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        /* Thumb color */
    }

    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        /* Track color */
    }
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p {
    color: #aaa;
    font-size: 12px
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
}

@media (min-width: 992px) {
    #hero {
        padding-left: 160px;
    }
}

#hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

#hero p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: #0563bb;
    letter-spacing: 1px;
}

#hero .social-links {
    margin-top: 30px;
}

#hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

#hero .social-links a:hover {
    color: #0563bb;
}

@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

    #hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    #hero p {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 60px 0 20px 0;
    overflow: hidden;
    margin-top: 40px;
}

/* .section-title {
    text-align: center;
    padding-bottom: 30px;
} */

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    /* left: calc(50% - 60px); */
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    /* left: calc(50% - 20px); */
}

.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #728394;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul strong {
    margin-right: 10px;
}

.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 0;
}

.about .content p:last-child {
    margin-bottom: 0;
}

/* CARD */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    /* width: 100%; */
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-inner-border-radius: 0.75rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.card .card-header {
    padding: 1.5rem;
}

.card .card-body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.z-index-2 {
    z-index: 2 !important;
}

.mt-n4 {
    margin-top: -1.5rem !important;
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.bg-gradient-primary {
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}

.bg-gradient-info {
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}

.bg-gradient-faded-primary {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(178, 18, 72, 0.6) 0, #980c3c 100%);
}

.bg-gradient-faded-success {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(40, 111, 43, 0.6) 0, #2c612e 100%);
}

.bg-gradient-faded-info {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(27, 90, 174, 0.6) 0, #144990 100%);
}

.bg-gradient-faded-warning {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(251, 140, 0, 0.6) 0, #c87000 100%);
}

.bg-gradient-faded-danger {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(179, 45, 34, 0.6) 0, #ba1609 100%);
}

.bg-gradient-faded-light {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(240, 242, 245, 0.6) 0, #d1d7e1 100%);
}

.bg-gradient-faded-dark {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(52, 71, 103, 0.6) 0, #233045 100%);
}

.bg-gradient-faded-white {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(255, 255, 255, 0.6) 0, #e6e6e6 100%);
}

.bg-gradient-faded-dark-blue {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(26, 35, 126, 0.6) 0, #111754 100%);
}

.shadow-primary {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !important;
}

.border-radius-lg {
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* table */
.table {
    --bs-table-color: #7b809a;
    --bs-table-bg: transparent;
    --bs-table-border-color: #f0f2f5;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #7b809a;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #7b809a;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #7b809a;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

.table>thead {
    vertical-align: bottom;
}

.table> :not(:last-child)> :last-child>* {
    border-bottom-color: #f0f2f5;
}

.table-responsive {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
}

.table-responsive thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.text-xxs {
    font-size: 0.65rem !important;
}

.text-xs {
    font-size: 0.75rem !important;
}

.text-s {
    font-size: 0.85rem !important;
}

.text-m {
    font-size: 1rem !important;
}

/* Button on Table */
.button-container {
    display: flex;
    align-items: center;
}

.btn-delete {
    background-color: #bb0505;
    ;
    color: #fff;
    height: 45px !important;
    max-width: 45px !important;
}

.btn-delete:hover {
    max-width: 300px !important;
}

.button {
    background-color: rgb(255, 255, 255, .7);
    color: #0563bb;
    text-decoration: none;
    border-radius: 60px;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: auto;
    max-width: 38px;
    margin-right: 5px;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    border: none;
    cursor: pointer;
    outline: none;
}

.button:hover {
    max-width: 300px;
    color: #0563bb;
    background-color: rgb(255, 255, 255);
}

.icon {
    position: relative;
    -webkit-text-stroke: 1px;
}

.text {
    white-space: nowrap;
    padding-right: 15px;
    margin-left: 5px;
}

/* search box */
.search-form {
    position: relative;
    margin-left: 10px;
}

.search-form .bi {
    position: absolute;
    top: 7px;
    left: 11px;
    color: #9ca3af;

}

.search-form .form-input {
    height: auto;
    text-indent: 27px;
    border-radius: 10px;
}

.search-form .form-input:focus {
    box-shadow: none;
    border: none;
}

.search-form .form-input::placeholder {
    font-size: 14px;
    color: #9ca3af;
}

/* notifications dropdown*/
.message {
    min-width: 15rem;
}

.dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}

.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}

.btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
}

.box-body .small {
    margin-left: 2.2rem;
    font-weight: 300;
    color: #989ca4;
}

.box-body .time {
    font-weight: 200;
    font-style: italic;
    color: #989ca4;
    font-size: 12px;
}

.badge {
    position: absolute;
    top: 12px;
    right: 160px;
    background-color: red;
    color: white !important;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 11px;
    cursor: pointer;
}

.notifikasi .dropdown-item {
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}

.notifikasi .dropdown-item i {
    font-size: 20px;
    background-color: #b5b5b5;
    border-radius: 50%;
    padding: 2px 7px;
    margin-right: 10px;
}

.notifikasi .dropdown-item:hover,
.notifikasi .dropdown-item:hover i {
    color: initial;
    text-decoration: none;
}



/* Modal */
/* Modal */
.modal-backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.modal.fade .modal-dialog {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 99;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    height: fit-content;
    width: 30rem;
}

/* 
.modal-content .modal-header h5 {
    font-size: 12pt;
} */

.modal-body {
    display: flex;
    align-items: center;
}

.modal-body .form-group input[type="file"] {
    width: 20rem;
    height: 2rem;
    font-size: 10pt;
}

.modal-title {
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.registration-form {
    padding: 10px 10px;
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #ccc #f5f5f5;
    /* Thumb and track colors */

    /* For WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        /* Thumb color */
    }

    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        /* Track color */
    }
}

.registration-form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #636363;
    margin-left: 5px;
}

.registration-form .item {
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .btn-cancel {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    color: #5791ff;
    margin-top: 20px;
    border-width: 2px;
    border-color: #5791ff;
}

.registration-form .social-media {
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a {
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.reminder-error {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

/* Edit $ Delete */
.btn-group .btn-danger {
    padding: 5px 10px;
    border-radius: unset;
}

.edit-input {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 4px;
    background-color: #ffffff;
}

/* Password Toggle */
.password-container {
    position: relative;
}

.password-text {
    display: inline-block;
    border: none;
    background-color: transparent;
    text-align: center;
}

.toggle-password-icon {
    position: absolute;
    top: 50%;
    /* right: 5px; */
    transform: translateY(-50%);
    cursor: pointer;
}

.swal2-popup {
    max-height: 400px;
    overflow-y: auto;
}

/* Notifications Page */
.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

#search-btn {
    height: 2.4rem;
    border-radius: 0px 5px 5px 0px;
    z-index: 2;
    padding: 2px 9px;
}

.btn-outline-secondary {
    outline-width: 1px;
    outline-color: #edf1f8;
}

.delete-all {
    width: 100%;
    border-radius: 0px;
    font-weight: bold;
}

.btn-logout {
    background-color: #103363;
    color: #fff;
    border-radius: 0px;
    width: 7rem;
    height: 2.6rem;
    justify-content: center;
    align-items: center;
    display: flex;
}